#modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn .3s both;
}

#divModal {
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 670px;
    background-color: white;
    border-radius: 10px;
    animation: slideFromTop .3s both;
}

#displayModal {
    display: flex;
    flex-direction: column;
}

#divModal h1 {
    font-family: inherit;
    font-size: 26px;
    color: black;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;

}

#divModal hr {
    width: 420px;
    border-width: 1px;
    color: #B3B3B3;
}

#divModal input {
    width: auto;
    font-size: 14px;
    padding: 10px 50px;
}

#divModal .closeModal {
    text-align: end;
    font-size: 14px;
    margin: 20px 20px 0px 0px;
    cursor: pointer;

}

#divModal .previousPage {
    position: absolute;
    font-size: 18px;
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}

.gridModal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 25px;
    padding: 50px 105px 50px 105px;
}

.gridModal .work {
    width: 75px;
    height: 105px;
    position: relative;
}

.gridModal .work i {
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    top: 13%;
    left: 84%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    cursor: pointer;
}

#divModal img {
    width: 100%;
}

#modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

#modal[aria-hidden="true"] #divModal {
    animation-name: slideToBottom;
}

.divForm form {
    display: flex;
    flex-direction: column;
    padding: 20px 105px 0px;
    gap: 20px;

}

.divForm form i {
    font-size: 64px;
    color: #B9C5CC;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to {opacity: 1;}
}

@keyframes slideFromTop {
    from { transform: translateX(-50px) translateY(-50px); }
    to {transform: translateX(0px) translateY(0px); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to {opacity: 0;}
}

@keyframes slideToBottom {
    from { transform: translateX(0px) translateY(0px); }
    to {transform: translateX(50px) translateY(50px); }
}